body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover {
    background-color: #00FF00;
}
.btn {
    transition: 0.3s;
}

.btn:hover {
    background-color: #00FF00;
    transform: scale(1.05);
}
